[submodule "backend"]
	path = backend
	url = https://github.com/lookingcoolonavespa/crochess_java_backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/lookingcoolonavespa/crochess-frontend-react
[submodule "engine_0x88"]
	path = engine_0x88
	url = https://github.com/lookingcoolonavespa/crochess_engine_0x88
